@model WMS.Models.Storage

@{
    ViewBag.Title = "新增儲位";
}

    <body style="background-color: PowderBlue; ">
    </body>

<h2>新增儲位</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">儲位編號</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">建檔日期</label>
            <div class="col-md-10">
                @{
                    DateTime today = DateTime.Today;
                    string formattedToday = today.ToString("yyyy-MM-dd");
                }
                <input type="date" class="form-control" id="bDate" name="bDate" value="@formattedToday" required="required" />
                @Html.ValidationMessage("bDate", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>
