@model IEnumerable<WMS.Models.Ship>

@{
    ViewBag.Title = "出貨";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOD.PID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PID)
        </td>
        <td>
            @item.Date.ToString("yyyy/MM/dd")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SID)
        </td>
        <td>
            @item.bDate.ToString("yyyy/MM/dd")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOD.PID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SHID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SHID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SHID })
        </td>
    </tr>
}

</table>
